version: '3.8'

services:
  app:
    build: .
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      - db
    environment:
      - SERVER_PORT=${SERVER_PORT}                                                                                                         │
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${DB_NAME}                                                                         │
      - SPRING_DATASOURCE_USERNAME=${DB_USER}                                                                                              │
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}

  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: